<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Recommendation App</title>
    <link rel="stylesheet" href="styles.css">  
</head>
<body style="font-family: Verdana; color: #333232;">
    <div class="container">
        <h2 style="text-align: center;">Hello!🙋‍♀️</h2>
        <h3 style="text-align: center;">This app will help you plan your next awesome trip.</h3>   
        <form action="/recommend" method="post">
            <div class="input_wrap">
                <label for="country">Country:</label>
                <input type="text" name="country">
            </div>
            <div class="input_wrap">
                <label for="activity">Activity:</label>
                <input type="text" name="activity">
            </div>
            <div class="input_wrap">
                <label for="mood">Mood:</label>
                <input type="text" name="mood">
            </div>
            <button type="submit" class="btn">Let's go!✈️</button>
        </form>
    </div>
</body>
</html>